<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body {
        background-image: url("background3.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
      }

      h1 {
        color: white;
        text-align: center;
        -webkit-text-stroke: 1px blue;
      }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Search Results</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
      <a class="navbar-brand" style="color: rgb(191, 255, 161)"
        >Search Results</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"></ul>
        <form method="POST" action="/search" class="form-inline my-2 my-lg-0">
          <input
            class="form-control mr-sm-2"
            name="Search"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button
            class="btn btn-outline-success my-2 my-sm-0 mr-1"
            type="submit"
          >
            Search
          </button>
        </form>
        <form method="POST" action="/" class="form-inline my-2 my-lg-0">
          <button
            class="btn btn-outline-danger my-2 my-sm-0 ml-1"
            type="submit"
          >
            Logout
          </button>
        </form>
      </div>
    </nav>

    <% if(locals.no_result) { %>
    <div class="alert alert-danger" role="alert"><%= no_result %></div>
    <% } %> <% if(locals.searchResult) { %>
    <div class="container">
      <div class="row">
        <% searchResult.forEach(function(result) { %>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img
              class="card-img-top"
              src="<%= result['link'] %>.png"
              alt="Card image cap"
            />
            <div class="card-body">
              <p class="card-text"><%= result['name'] %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a
                    href="/<%= result['link'] %>"
                    class="btn btn-sm btn-outline-secondary"
                    >View</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
      <% } %>
    </div>
  </body>
</html>
